* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial;
    font-size: 13px;
    color: #000000;
    overflow-y: scroll;
    background-color: #7c9f6e;
}
#app {
    margin: 30px auto;
    width: 900px;
    background: #FFFFFF;
    padding-bottom: 10px;
}